@media (max-width: 900px) {

    #root {
        margin-top: 30%;
    }

    body {
        height: auto;
    }

    .card {
        display: block;
        max-width: 500px;
        margin: auto;
        padding: 1.5rem;
        margin-bottom: 4rem;
    }

    .desktop {
        display: none;
    }

    .img-mobile {
        display: block;
        width: 100%;
        position: relative;
        top: -100px;
    }

    .shadow {
        display: block;
        width: 100%;
        position: relative;
        left: 0px;
        top: -500px;
    }

    .faq-container {
        width: 100%;
        text-align: center;
        margin-top: -30rem;
    }

    .faqs {
        padding-right: 0px;
        padding-left: 0px;
        text-align: left;
    }

}

@media (max-width: 500px) {

    .card {
        margin: 1rem;
        margin-bottom: 8rem;
    }
}

@media (max-width: 375px) {

    .shadow {
        top: -350px;
    }

    .faq-container {
        margin-top: -20rem;
    }
}


@media (max-width: 300px) {
    #root {
        margin-top: 50%;
    }

    .faq-container {
        margin-top: -15rem;
    }

    .shadow {
        top: -275px;
    }
}